@import "tailwindcss";

:root {
  --bg-color: #ffffff;
  --text-color: #111827;
  --primary-color: #000000;
  --card-bg: #f9fafbd3;
  --border: rgba(0, 0, 0, 0);
  --shadow-color: rgba(22, 22, 22, 0.5);

  --bg-gradient: linear-gradient(135deg, #ffffff 0%, #ffffff 100%);
  --header-shadow: 0 2px 8px rgba(0,0,0,0.08);

}

/* Tema Light */
[data-theme="light"] {
  --bg-color: #f6f3f6;
  --text-color: #424B54;
  --alt-text: #f6f3f6;
  --primary-color: #7c6706;
  --primary-hover: #947e1c;
  --card-bg: #EBCFB2;
  --border: #C5BAAF;
  --shadow-color: #424B54;
  --filter: invert(0.25) sepia(0.8) saturate(10) hue-rotate(50deg);

  --bg-gradient: linear-gradient(135deg,rgba(255, 255, 255, 1) 0%, #f8e8d6 45%, #f3e4d4 85%);
  --header-shadow: 0 6px 18px rgba(17,24,39,0.06), 0 1px 0 rgba(255,255,255,0.02);
}

/* Tema pink */
[data-theme="pink"] {
  --bg-color: #f6f3f6;
  --text-color: #111827;
  --alt-text: #f6f3f6;
  --primary-color: #ce32a7;
  --primary-hover: #ff78dd;
  --card-bg: #ffdef5f3;
  --border: #bd489f;
  --shadow-color: rgba(22, 22, 22, 0.5);
  --filter: invert(0.2) sepia(1) saturate(100) hue-rotate(290deg);

  --bg-gradient: linear-gradient(135deg,rgba(255, 255, 255, 1) 0%, rgb(255, 227, 252) 45%, rgb(255, 238, 254) 85%);
  --header-shadow: 0 6px 18px rgba(17,24,39,0.06), 0 1px 0 rgba(255,255,255,0.02);
}

/* Tema Dark */
[data-theme="dark"] {
  --bg-color: #00091b; /* escolha um tom escuro */
  --text-color: #ffffff;
  --alt-text: #ffffff;
  --primary-color: #11abfd;
  --primary-hover: #6ddefa;
  --card-bg: #111827;
  --border: #149cc5;
  --shadow-color: #027bbdc0;
  --filter: invert(0.25) sepia(0.5) saturate(100) hue-rotate(180deg);

  --bg-gradient: linear-gradient(135deg,#020024 0%, rgb(2, 23, 34) 35%, rgb(0, 13, 15) 100%);

  --header-shadow:
    0 6px 30px #027bbdc0,
    0 0 12px rgba(0,255,136,0.06),
    0 0 40px rgba(0,255,136,0.04);

}

/* Tema Terminal / Hacker */
[data-theme="terminal"] {
  --bg-color: #000000;
  --text-color: #d1eedc;
  --alt-text: #ffffff;
  --primary-color: #28c20d;
  --primary-hover: #2dff55;
  --card-bg: #071800;
  --border: rgba(55, 255, 20, 0.685);
  --shadow-color: rgba(55, 255, 20, 0.904);
  --filter: invert(0.5) sepia(1) saturate(1000%) hue-rotate(100deg);

  --bg-gradient: linear-gradient(135deg,rgba(0, 0, 0, 1) 0%, rgba(31, 41, 55, 1) 65%, rgba(6, 62, 20, 1) 100%);

  --header-shadow:
    0 6px 30px rgba(3, 161, 43, 0.7),
    0 0 12px rgba(57,255,20,0.08),
    0 0 40px rgba(57,255,20,0.04);

}

.bg-theme {
  background-image: var(--bg-gradient);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-color: var(--bg-color);
  transition: background-image 350ms ease, background-color 350ms ease;
}

.header-theme {
  background: var(--card-bg);
  border-bottom: 1px solid var(--border);
  box-shadow: var(--header-shadow);
  backdrop-filter: blur(6px); /* opcional: efeito de vidro */
}

.border-theme {
  border-color: var(--border);
  transition: border-color 350ms ease;
}


.bg-card {
  background-color: var(--card-bg);
  transition: background-color 350ms ease;
}

.shadow-theme {
  box-shadow: 0 0 15px var(--shadow-color);
  transition: box-shadow 350ms ease;
}

.btn-theme {
  background-color: var(--primary-color);
  color: var(--bg-color);
  box-shadow: 0 0 10px var(--shadow-color);
  transition: background-color 350ms ease, box-shadow 350ms ease, color 350ms ease;
}

.btn-theme:hover {
  background-color: var(--primary-hover);
}


/* Aplicar variáveis ao body */
html, body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, "Roboto Mono", "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 350ms ease, color 350ms ease;
}


input[type="date"]::-webkit-calendar-picker-indicator {
  filter: var(--filter);
}

/* Para o Firefox */
input[type="date"] {
  accent-color: var(--primary-color);
}